---
// Componente de carta que se abre y cierra al hacer clic
import "./card.css";
---

<link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

<div class="card-section">
  <h2 class="card-title">Una Carta Para Ti</h2>
  
  <div class="card-container">
    <div class="contenedor" id="AbrirContenedor">
      <div class="superior"></div>
      <div class="mensaje">
        Mi amor, he creado esta web como un regalo especial para ti, lleno de nuestros recuerdos más preciados. 
        Cada imagen, cada momento capturado, representa un pedacito de nuestro amor y las aventuras que hemos vivido juntos. 
        Desde nuestros primeros encuentros hasta los momentos más especiales, todo está aquí para recordarte lo mucho que te amo. 
        Eres mi inspiración, mi felicidad y mi razón de ser. Te amo infinitamente.<br>
        Con todo mi amor, Efraín.        
      </div>
      <div class="carta">
        <i class="bx bxs-heart"></i>
      </div>
    </div>
  </div>


</div>

<script src="./card.js"></script> 