@import "tailwindcss";

@font-face {
  font-family: 'Candice';
  src: url('../assets/fonts/Candice/CANDY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
img {
  -webkit-user-drag: none;
  pointer-events: none;
}