---
import "../styles/global.css";
import '../styles/blurred-header.css';
import AnimatedBackground from "../components/animatedBackground.astro";
import BlockOne from "../components/blockone/block.astro";
import Carousel from "../components/blocktwo/carousel.astro";
import imagesOne from '../data/imagesOne.js';
import imagesTwo from '../data/imagesTwo.js';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Nuestro Repositorio</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
	</head>
	<body>
		<AnimatedBackground />
		<BlockOne />
		<Carousel title="Recuerdos" images={imagesOne} />
		<Carousel title="" images={imagesTwo} reverse={true} />
		<!-- Aquí puedes agregar más bloques, centrados o no -->
	</body>
</html>
