---
import '../blocktwo/slider.css';
const { title = 'Recuerdos', images = [], reverse = false } = Astro.props;
const allImages = images.concat(images);
---

<div class="carousel-container">
  <h1 class="carousel-title">{title}</h1>
  <div class="slider-viewport">
    <div class={`css-slider-wrapper${reverse ? ' reverse-slider' : ''}`}>
      <div class="css-slider-track">
        {allImages.map((img: { src: string; alt: string }) => (
          <div class="css-slider-slide">
            <img src={img.src} alt={img.alt} class="carousel-img" loading="lazy" />
          </div>
        ))}
      </div>
    </div>
  </div>
</div> 