---
import Header from "../blockone/header.astro";
import Counter from "../blockone/counter.astro";
import "./block-container.css";
---

<div class="block-container w-full min-h-screen flex flex-col items-center justify-center">
  <Header />
  <Counter />
</div>
